[package]
name = "rudric"
version = "0.1.2"
edition = "2021"
license = "MIT"
authors = ["Mike Lloyd"]
keywords = ["passwords", "secrets", "cli"]
categories = ["command-line-utilities", "cryptography"]
description = "CLI tool for managing secrets in a secure way"
repository = "https://github.com/mike-lloyd03/rudric"


[dependencies]
anyhow = "1.0.79"
clap = { version = "4.4.11", features = ["derive", "wrap_help"] }
sqlx = { version = "0.7.3", features = [
  "sqlite",
  "runtime-tokio",
  "migrate",
  "uuid",
  "time",
] }
tokio = { version = "1.35.0", features = ["macros", "rt-multi-thread"] }
orion = { version = "0.17.6", features = ["serde"] }
xdg = "2.5.2"
dialoguer = "0.11.0"
serde = "1.0.193"
colored_json = "4.1.0"
uuid = { version = "1.6.1", features = ["v4"] }
tempfile = "3.8.1"
base64 = "0.21.7"
regex = "1.10.2"
tabled = { version = "0.14.0", features = ["color"] }
time = "0.3.30"
clap_complete = "4.4.4"
serde_yaml = "0.9.30"
duration-str = "0.7.1"

[dev-dependencies]
assert_cmd = "2.0.13"
rexpect = "0.5.0"

[profile.dev.package.sqlx-macros]
opt-level = 3
